PORT=5001
MONGODB_URI=mongodb+srv://muskii64071_db_user:MlQSoxuDguV0yVei@muskanprotfoli.f2fvsas.mongodb.net/
EMAIL_USER=muskii64071@gmail.com
EMAIL_PASS=your-app-password
CLIENT_URL=http://localhost:5173
